<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <title>Booklist</title>
</head>
<body>
<h1>Book's</h1>
<table class="table table-striped">
    <tbody>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Isbn</th>
        <th>Year</th>
        <th>Price</th>
        <th>Category</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>


    </tbody>

</table>
<a class="btn btn-success" href="/addbook">Add book</a>

</body>
</html>